.header {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header * {
  font-family: "Poppins";
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo div {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  margin-left: 25px;
  color: rgb(255, 119, 0);
  font-weight: 700;
}

.middle-btns {
  display: flex;
  gap: 15px;
}

.middle-btns button {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.middle-btns .run {
  color: black;
  background-color: green;
  outline: white;
}

.middle-btns .stop {
  background-color: rgb(62, 62, 62);
  color: white;
  /* outline: white; */
  /* border: white; */
}

.refresh-btn {
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
